GITHUB_CLIENT_ID=Ov23lis1RFF47Hms4ctC
GITHUB_CLIENT_SECRET=2a5dc712d7188ecf943496b453ad65a78ec995ff
GITHUB_CALLBACK_URL=http://localhost:5001/auth/github/callback
SESSION_SECRET=your_session_secret_key_here
PORT=5001
NODE_ENV=development
CACHE_TTL=300
